<%- include('module/head') %>
<style>
body{
	padding-top:60px;
}
.topbtn{
	width:100%;
	position:fixed;
	border-top:5px solid #009688;
	left:0;
	top:0;
	background:white;
	box-shadow:0 0 8px #ccc;
	z-index:99999999;
}
.topbtn .back{
	float:left;
	padding:15px 20px;
	font-size:14px;
	color:#333;
	border-right:1px solid #ccc;
	line-height:16px;
}
.topbtn .back i{
	padding-right:10px;
}
.topbtn .caozuo{
	float:right;
	padding-right:10px;
	margin-top:7px;
}
.topbtn .caozuo a{
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	font-size: 12px;
}
</style>

<body class="homebody">
<link href="/layuiUse/css/main.css" rel="stylesheet" type="text/css">
<div class="topbtn">
	<a class="back"><i class="layui-icon">&#xe65a;</i>返回</a>
	<div class="caozuo">
		<div class="layui-btn-group">
			<a class="layui-btn layui-btn-sm" href='javascript:;' id="ceart_col">
				<i class="layui-icon">&#xe609;</i> 修改栏目
			</a>
			<a class="layui-btn layui-btn-sm" href="/mosc/article_editor?column=<%= post.column._id %>">
				<i class="layui-icon">&#xe654;</i> 添加文章
			</a>
			<a class="layui-btn layui-btn-sm" href='javascript:;' id="deleted">
				<i class="layui-icon">&#xe640;</i> 批量删除
			</a>
		</div>	
	</div>
</div>
<!--explain-->
<blockquote class="layui-elem-quote button">
	<p class="columntitle"><%= post.column.title %></p>
</blockquote>

<div class="article_list">
	<form class="layui-form" action="">
		<table class="layui-table" align="center">
			<colgroup>
			<col width="50">
			<col>
			<col width="80">
			<col width="150">
			<col width="160">
			</colgroup>
			<thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th style="text-align:left;">文章标题</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr> 
			</thead>
			<tbody></tbody>
		</table>
	</form>
	<div id="demo1" page='<%= post.listPage %>'></div>
</div>

<%- include('module/column_editor') %>

<script src="/layuiUse/js/articl_list.js"></script>
</body>
</html>